# npm
dist
web
node_modules

# test coverage
coverage

# config
config.json

# ide
.idea
.vs

# vim
*.sw?

# direnv
.direnv/

# environment related
.envrc
.env

# local db
db.sqlite
*.db
*.db-shm
*.db-wal
tickets.db